
.icon-home:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
